<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:mvc="http://www.springframework.org/schema/mvc"  
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="  
        http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context.xsd  
        http://www.springframework.org/schema/mvc  
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/tx  
        http://www.springframework.org/schema/tx/spring-tx.xsd">  
        
<context:component-scan base-package="com.customerService"></context:component-scan>    
    
    <!-- step1 Define Database/DataSource connection pool-->
<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">     
<property name="prefix" value="/WEB-INF/view/"></property>    
<property name="suffix" value=".jsp"></property>    
</bean>    
    
<bean id="myDataSource" 
class="com.mchange.v2.c3p0.ComboPooledDataSource">    
<property name="driverClass" value="com.mysql.jdbc.Driver"/>    
<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/web_customer_tracker"/>    
<property name="user" value="hbstudent"/>    
<property name="password" value="hbstudent"/> 

<!-- these are connection pool property for C3P0 -->
<property name="minPoolSize" value="5"/> 
<property name="maxPoolSize" value="20"/> 
<property name="maxIdleTime" value="30000"/> 
</bean>    
    
    <!--step2: set up Hibernate session factory -->
<bean id="sessionFactory" 
      class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">    
<property name="dataSource" ref="myDataSource"/>
<property name="packagesToScan" value="customerService.entity"/> 
<property name="hibernateProperties">
       <props>
       <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
       <prop key="hibernate.show_sql">true</prop>
       </props>
</property>
            
</bean>

<!-- step3: set up Hibernate Transaction -->    
    
<bean id="myTransactionManager" 
      class="org.springframework.orm.hibernate5.HibernateTransactionManager">    
<property name="sessionFactory" ref="sessionFactory"></property>    
</bean> 

<!-- step4: Enable configration of transaction behavior based on anotation-->    
<tx:annotation-driven transaction-manager="myTransactionManager"/>  

<!-- Add support for reading web resources css, js, images etc -->
<mvc:resources location="/resources/" mapping="/resources/**"/>
</beans>  